.grid {
	display: grid;
	background-color: lightpink;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--spasing-small);
}

[class^='column']{
	background: green;
	padding: 1rem;
}


@media screen and (max-width: 1023px) /* 1023px to avoid overlap */ {
	.column--1
	.column--2
	.column--3
	.column--4
	.column--5
	.column--6
	.column--7
	.column--8
	.column--9
	.column--10
	.column--11
	.column--12 {
		grid-column-end: span 12;
	}
}



@media screen and (min-width: 1024px) /* put the whole grid system inside mediaqueries for responsivity */ {
	
.order--1 {
	order: 1;
}

.order--2 {
	order: 2;
}

.order--3 {
	order: 3;
}

.order--4 {
	order: 4;
}

.order--5 {
	order: 5;
}

.order--6 {
	order: 6;
}

.order--7 {
	order: 7;
}

.order--8 {
	order: 8;
}

.order--9 {
	order: 9;
}

.order--10 {
	order: 10;
}

.order--11 {
	order: 11;
}

.order--12 {
	order: 12;
}




.column--1 {
	grid-column-end: span 1;
}

.column--2 {
	grid-column-end: span 2;
}

.column--3 {
	grid-column-end: span 3;
	/* 3 out of 12 (works together with parent(grid-template-columns)) */
}

.column--4 {
	grid-column-end: span 4;
}

.column--5 {
	grid-column-end: span 5;
}

.column--6 {
	grid-column-end: span 6;
}

.column--7 {
	grid-column-end: span 7;
}

.column--8 {
	grid-column-end: span 8;
}

.column--9 {
	grid-column-end: span 9;
}

.column--10 {
	grid-column-end: span 10;
}

.column--11 {
	grid-column-end: span 11;
}

.column--12 {
	grid-column-end: span 12;
}

.offset--1 {
	grid-column-start: 2;
}

.offset--2 {
	grid-column-start: 3;
}

.offset--3 {
	grid-column-start: 4;
}

.offset--4 {
	grid-column-start: 5;
}

.offset--5 {
	grid-column-start: 6;
}

.offset--6 {
	grid-column-start: 7;
}

.offset--7 {
	grid-column-start: 8;
}

.offset--8 {
	grid-column-start: 9;
}

.offset--9 {
	grid-column-start: 10;
}

.offset--10 {
	grid-column-start: 11;
}

.offset--11 {
	grid-column-start: 12;
}

}