html {
	font-size: var(--font-size-medium);
}


.container{
	width: 700px;
	height: 700px;
	margin-bottom: var(--spacing-medium);
}

.container-small{
	width: 100px;
	height: 100px;
	margin-bottom: var(--spacing-medium);
}

.logo{
	width: 5em;
	height: 5em;
}

.container-for-nav{
	display: flex;
	justify-content: center;
}

.navigation-bar{
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-screenshot{
	border-radius: 15px; 
	margin-bottom: var(--spacing-small);
}

.site-screenshot:hover {
	transform: scale(1.05); 
	transition: transform 0.3s; /* for smoother scaling */
	box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
  }

@media screen and (min-width: 1920px) {
	body {
		max-width: 1920px;
		margin: 0 auto;
	}


}
